body{
  background-color: lightblue;
 width: 100%;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#note-btn{
  position: fixed;
  background-color: black;
  color: white;
  left: 18px;
  top: 24px;
  padding: 8px;
  border: none;
  outline: 0;
  border-radius: 5px;
}
#paragraph-el{
 font-weight: bold;
 color: white; 
 font-size: 20px;
}
.input-box{
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}
.inputbox-img{
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}